.element{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.buttonContainer {
    display:  flex;
    justify-content: space-around;
}

.button{
    color: black;
}
